@{
    ViewBag.Title = "About ME";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p> I am a senior MIS and Analytics major at OU. In my free time, I like to hang with friends and have fun. My favorite season is summer where I go out on my familys boat and fish. I am huge Ravens and Orioles fan because I am from Maryland!  </p>
