@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ohio University<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    1800-867-5309
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ew774515@ohio.edu">ew774515@ohio.edu</a><br />
    
</address>