@{
    ViewBag.Title = "MIS4200";
}

<div class="jumbotron">
    <h1>MIS 4200</h1>
    <p class="lead">Welcome to Eleanor Wernekes MIS 4200 Page!!</p>
    <p><a href="https://business.ohio.edu/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>About me</h2>
        <p>
            I am a Senior MIS and Business Analytics major! Click to learn more about Ohio University, my major, and the wonderful opportunities we have as Bobcats!  
        </p>
        <p><a class="btn btn-default" href="https://business.ohio.edu/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Hire me! </h2>
        <p>Check out my LinkedIn and learn more about me! I am interested in Technology Consulting and Business Analyst jobs for starting the summer of 2020. </p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/eleanorwerneke">Learn more &raquo;</a></p>
        <h3>Links to sample models</h3>
        @Html.ActionLink("Customers", "Index", "Customers")<br />
        @Html.ActionLink("Orders", "Index", "Orders")<br />
        @Html.ActionLink("Products", "Index", "Products")

    </div>
    <div class="col-md-3">
        <h2>Campus Involvemnt</h2>
        <p>I am apart of a wonderful club called ISAP (Information Systems and Analytics Professionals). </p>
        <p><a class="btn btn-default" href="https://ouisap.com/">Learn more &raquo;</a></p>
    </div>
</div>